<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script>
		var obj = JSON.parse(<%- obj %>)
    </script>
</head>
<body>
<h1>组合<%= id %>业绩概览</h1>
<h2>one</h2>
<p>asdfasdfasdfasdfdfzxcv</p>
<h2>two</h2>
<p>asdfasdfasdfasdfdfzxcv</p>
<h2>three</h2>
<p id="aaa">asdfasdfasdfasdfdfzxcv</p>
<div id="myChart" style="width: 400px;height: 300px;"></div>

</body>
</html>